---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Baron Betazara">
	<main>
		<div class="">
			
		</div>
		<div class="flex items-center justify-around mt-20">
			<ul class="inline-block text-2xl border-2 rounded-lg space-x-6">
				<li class="text-white inline-block hover:border-b-2  border-b-indigo-500 px-4"> <a href="">Home</a> </li>
				<li class="text-white inline-block hover:border-b-2  border-b-indigo-500"> <a href="#">Skills</a></li>
				<li class="text-white inline-block hover:border-b-2  border-b-indigo-500 px-4"> <a href="#">Experience</a></li>
				<li class="text-white  hover:border-b-2  border-b-indigo-500 hidden md:inline-block px-4"> <a href="#">About</a></li>
			</ul>
			<ul class="bg-red-600 hidden md:inline-block">
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="">Home</a> </li>
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">Skills</a></li>
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">Experience</a></li>
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">About</a></li>
			</ul>
		</div>
		<!-- <div class="relative items-center justify-center m-20">
			<ul class="inline-block">
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="">Home</a> </li>
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">Skills</a></li>
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">Experience</a></li>
				<li class="text-white inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">About</a></li>
			</ul>
		</div> -->
		<!-- <div class="flex items-center justify-center h-screen p-4 flex-col gap-5">
			<h1 class="text-white text-sm font-semibold whitespace-nowrap md:text-7xl">BONIFASIUS BARON BETAZARA</h1>
			<p class="text-white text-sm font-semibold animate-[ping_2s_ease-in-out_infinite] whitespace-nowrap md:text-4xl">Programmer</p>
		</div> -->
	</main>
</Layout>

