---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Baron Betazara">
	<main>
		<div class="flex items-center justify-center h-screen">
			<h1 class="text-white text-7xl font-semibold animate-[bounce_0.5s_ease-in-out_infinite]">BONIFASIUS BARON BETAZARA</h1>
		</div>
	</main>
</Layout>

