---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hi Guys">
	<main>
		<div class="flex items-center justify-center h-screen">
			<!-- <h1>BONIFASIUS <span class="text-gradient">BARON</span> BETAZARA</h1> -->
			<h1 class="text-white text-7xl font-semibold">BONIFASIUS BARON BETAZARA</h1>
		</div>
	</main>
</Layout>

