---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Baron Betazara">
	<main>
		<div class="flex items-center justify-center h-screen p-4 flex-col gap-5">
			<h1 class="text-white text-sm font-semibold whitespace-nowrap md:text-7xl">BONIFASIUS BARON BETAZARA</h1>
			<p class="text-white text-sm font-semibold animate-[ping_2s_ease-in-out_infinite] whitespace-nowrap md:text-4xl">Programmer</p>
		</div>
	</main>
</Layout>

