---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
// import { ViewTransitions } from 'astro:transitions';
---

<Layout title="Baron Betazara">
	<main>
		<!-- <ViewTransitions /> -->
		<div class="text-white flex items-center justify-center mt-80 animate-[bounce_0.5s_ease-in-out_infinite] text-xl">
			<h1 class="px-2">Hello, my name is </h1> <h1 class="font-bold">Baron Betazara</h1>
		</div>

		<div class="text-white flex items-center justify-center mt-10 ">
			<a href="/intro" class="border-2 px-12 rounded-2xl" >To Portofolio 
				<!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"/>  -->
			</a> 
			</svg>
		</div>
	</main>
	<footer>
		<p class="text-white text-xs flex items-center justify-center mt-40">© 2023 Baron Betazara.</p>
	</footer>
</Layout>

