---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
// import { ViewTransitions } from 'astro:transitions';
---

<Layout title="Baron Betazara">
	<main>
		<header>
			<div class="text-white flex items-center justify-center mt-80 animate-[bounce_0.5s_ease-in-out_infinite] text-xl">
				<h1 class="px-2">Hello, my name is </h1> <h1 class="font-bold">Baron Betazara</h1>
			</div>
			<!-- <div class="text-white flex items-center justify-center animate-[bounce_0.5s_ease-in-out_infinite] text-xl">
				<p class="ml-20">I'm Web Developer Based on Tangerang</p>
			</div> -->
		</header>
		

		<div class="text-white flex items-center justify-center mt-10 ">
			<a href="/intro" class="border-2 px-12 rounded-2xl" >To Portofolio 
			</a> 
			</svg>
		</div>
	</main>
	<footer>
		<p class="text-white text-xs flex items-center justify-center mt-40">© 2023 Baron Betazara.</p>
	</footer>
</Layout>

