---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
// import { ViewTransitions } from 'astro:transitions';
---

<Layout title="Baron Betazara">
	<main>
		<body>
            <header>
                <div class="navbar">
                    <div class="logo"><a href="/intro" class="text-white">BARON</a></div>
                    <ul class="links">
                        <li><a href="#" class="text-white">About</a></li>
                        <li><a href="#" class="text-white">Experience</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                    </ul>
                    <a href="#" class="started_btn">Download CV</a>
                    <div class="toggle_btn">
                        <i class="fa-regular fa-bars text-white"></i>
                    </div>
                    <div class="dropdown_menu">
                        <li><a href="#" class="text-white">About</a></li>
                        <li><a href="#" class="text-white">Experience</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                        <li><a href="#" class="started_btn2">Download CV</a></li>
                    </div>
                </div>
            </header>
            <div class="page1">
                <div class="tittle">
                    <p class="intro-nama text-white">
                        Hey! I'm <br>Bonifasius Baron Betazara
                    </p>
                    <!-- <a href="#" class="started_btn">Download CV</a> -->
                </div>
            </div>
            <div class="page2">
                <img src="/assets/intro.jpg" alt="" class="gambar1">
                <p class="text-white">I'm Web Developer <br> From Indonesia <br> Nice to meet you! </p>
            </div>
            <!-- <div class="page3">
                
            </div> -->
        </body>
	</main>
	<footer>
		<p class="text-white text-xs flex items-center justify-center mt-40">© 2023 Baron Betazara.</p>
	</footer>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            height: 100vh;
            background-color:black;
        }
        li {
            list-style:none;
        }

        /* Header */
        header{
            position: relative;
            padding: 0 2rem;
        }
        .navbar{
            width:100%;
            height:60px;
            max-width:1200px;
            margin:0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .navbar .logo a{
            font-size: 2rem;
            font-weight:bold;
            cursor: default;
        }
        .navbar .links {
            display:flex;
            gap: 2rem;
        }

        .navbar .toggle_btn{
            font-size:1.5rem;
            cursor:pointer;
            display:none;
        }
        .started_btn{
            background-color: #FF007F;
            color:#fff;
            padding: 0.5rem 1rem;
            border:none;
            outline:none;
            border-radius:20px;
            font-size: 0.8rem;
            font-weight:bold;
            cursor:pointer;
            transition: scale 0.2 ease;
        }
        .started_btn:hover{
            scale:1.05;
            color:#fff;
        }
        .started_btn:active{
            scale:0.95;
        }
        .started_btn2{
            background-color: #FF007F;
            color:#fff;
            padding: 0.5rem 1rem;
            border:none;
            outline:none;
            border-radius:20px;
            font-size: 0.8rem;
            font-weight:bold;
            cursor:pointer;
            transition: scale 0.2 ease;
        }
        .started_btn2:hover{
            scale:1.05;
            color:#fff;
        }
        .started_btn2:active{
            scale:0.95;
        }
        /* DropDown Menu */
        
        .dropdown_menu{
            /* display:none; */
            position: absolute;
            right:2rem;
            top:70px;
            width:300px;
            height:0;
            background: rgba(255,255,255,0.1);
            backdrop-filter:blur(15px);
            border-radius:10px;
            overflow:hidden;
            transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .dropdown_menu.open{
            height:210px;
        }
        .dropdown_menu li{
            padding: 0.7rem;
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .dropdown_menu .started_btn2{
            width:100%;
            display:flex;
            justify-content:center;
        }
        .page1{
            height : 500px;
            widht : 100px;
            background: url("https://wallpapers.com/images/hd/black-anime-aesthetic-pc-7kh8rwk2l89xcvcx.jpg");
            background-size: cover;
            background-position: center;
        }
        .page2{
            display:flex;
            align-items:center;
            justify-content:center;
            height: 300px;
            width: 500px;
            margin-left:620px;
            background: rgba(255,255,255,0.1);
            backdrop-filter:blur(15px);
            border-radius:10px;
            text-align:center;
            gap:2rem;
        }
        .page2 .gambar1{
            height : 280px;
            border-radius:20px;
        }
        .page3{
            height : 200px;
            background-color:#040406;
        }
        
        
        .tittle{
            position: relative;
        }
        .tittle p{
            display:flex;
            margin-top: 250px;
            font-size:40px;
            justify-content: center;
            align-items:center;
            text-align:center;
        }
        /* RESPONSIVE */
        @media (max-width:992px){
            .navbar .links,
            .navbar .started_btn{
                display:none;
            }
            .navbar .toggle_btn{
                display:block;
            }
            .dropdown_menu{
                display:block;
            }
        }
        @media (max-width:576px){
            .dropdown_menu{
                left:2rem;
                width:unset;
                background-color:black;
                z-index:1;
            }
            .navbar .logo a{
            font-size: 1.5rem;
            }
            .tittle p{
                margin-top:100px;
            }
            .page1{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            }
            .page2{
                width: auto;
                margin-left:auto;
            }
        }
        @media (min-width:992px){
            .links a{
                position:relative;
            }
            .links a:after{
                content:"";
                position:absolute;
                background-color: white;
                height:3px;
                width:0;
                left:0;
                bottom:-10px;
                transition: 0.3s;
            }
            .links a:hover:after{
                width:100%;
            }
        }
        @media (min-width:576px){
            .page2{
                width: auto;
                margin-left:auto;
            }
        }

        

    </style>
    <script>
        const drop_down = document.querySelector('.dropdown_menu');
        const toggle_btn = document.querySelector('.toggle_btn');

        toggle_btn.addEventListener('click', function () {
            drop_down.classList.toggle('open');
        });
    </script>
</Layout>

