---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Baron Betazara">
	<main>
		<div class="flex items-center justify-around mt-20">
			<ul class="inline-block text-2xl border-2 border-[#212A3E] rounded-lg space-x-6">
				<li class="text-212A3E inline-block hover:border-b-2  border-b-indigo-500 px-4"> <a href="">Home</a> </li>
				<li class="text-212A3E inline-block hover:border-b-2  border-b-indigo-500"> <a href="#">Skills</a></li>
				<li class="text-212A3E inline-block hover:border-b-2  border-b-indigo-500 px-4"> <a href="#">Experience</a></li>
				<li class="text-212A3E  hover:border-b-2  border-b-indigo-500 hidden md:inline-block px-4"> <a href="#">About</a></li>
			</ul>
			<ul class="bg-red-600 hidden md:inline-block">
				<li class="text-212A3E inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="">Home</a> </li>
				<li class="text-212A3E inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">Skills</a></li>
				<li class="text-212A3E inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">Experience</a></li>
				<li class="text-212A3E inline-block mx-2 hover:border-b-2  border-b-indigo-500"> <a href="#">About</a></li>
			</ul>
		</div>
		<!-- <div class="">
			<img src="assets/baron.jpg" alt="" class="rounded-full h-60 w-60">
		</div> -->

	</main>
</Layout>